<div class="grid-container">
  <h1 class="mat-h1">Generate links</h1>
  <mat-grid-list cols="2" rowHeight="3:1">
      <mat-grid-tile>
          <mat-form-field class="full-width">
            <mat-label>Encode or decode link</mat-label>
            <input matInput [(ngModel)]=long_link placeholder="Paste your URL" type="text" name="long_link"/>
          </mat-form-field>
          <button *ngIf="long_link" mat-raised-button (click)="postLink(long_link)">Get URL</button>
      </mat-grid-tile>
      <mat-grid-tile>
          <div *ngIf="error">{{error}}</div>
          <mat-form-field *ngIf="long_link && response && !error" class="full-width">
              <mat-label>Short LInk</mat-label>
              <input matInput readonly value="{{short_link}}" type="text" name="short_link"/>
          </mat-form-field>
          <button *ngIf="long_link && response && !error" mat-raised-button (click)="resetLink()">Reset</button>
      </mat-grid-tile>
</mat-grid-list>
</div>



