<div class="grid-container">
  
    <mat-grid-list *ngFor="let link of links | async" cols="1" rowHeight="200px">
      <mat-grid-tile [colspan]="1">
        <mat-card>
          <mat-card-title>
            {{link.views}}
          </mat-card-title>
          <mat-card-content>
            <p>{{link.long_link}}</p>
            <p>{{link.short_link}}</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>